audio#a
	source(
		src="https://rawcdn.githack.com/ricardoolivaalonso/Codepen/eb126050c438282cfc1034dec5fce8327cb09844/room_03/assets/bioshock.mp3",
		type="audio/mpeg"
	)
#modal.modal
#h.main 
	.shadows.face
		.shadow.shadow1
		.shadow.shadow2
		.shadow.shadow3
		.shadow.shadow4
		.light.light1
		.light.light2
		.light.light3

	.floor
		.floor__front.face 
		.floor__back.face 
		.floor__right.face 
		.floor__left.face 
		.floor__top.face 
			.shadows
			.light-1 
			.light-2 
			.light-3 
			.light-4 
			.shadow-1 
			.shadow-2 
			.neon-line
				.neon-group
					.neon
					.neon
					.neon
					.neon
				.neon-group
					.neon
					.neon
					.neon
					.neon 
		.floor__bottom.face 
	.wall-a
		.wall-a__front.face 
		.wall-a__back.face 
		.wall-a__right.face 
			.light.light-1
			.light.light-2
			.light.light-3
			.light.light-4
		.wall-a__left.face 
		.wall-a__top.face 
		//- div.wall-a__bottom.face  
	.wall-b
		.wall-b__front.face
			.light.light-1 
		.wall-b__back.face 
		.wall-b__right.face 
		//- div.wall-b__left.face 
		.wall-b__top.face 
		//- div.wall-b__bottom.face  
	.speaker-a
		.speaker-a__front.face 
		.speaker-a__back.face 
		.speaker-a__right.face 
		.speaker-a__left.face 
		.speaker-a__top.face 
		.speaker-a__bottom.face 
	.speaker-b
		.speaker-b__front.face 
		.speaker-b__back.face 
		.speaker-b__right.face 
		.speaker-b__left.face 
		.speaker-b__top.face 
		.speaker-b__bottom.face 
	#bioshock.pic-a
		.pic-a__front.face 
		.pic-a__back.face 
		.pic-a__right.face 
			img(
				src="https://rawcdn.githack.com/ricardoolivaalonso/Codepen/eb126050c438282cfc1034dec5fce8327cb09844/room_03/assets/b1.jpg"
			)
		//- div.pic-a__left.face 
		.pic-a__top.face 
		.pic-a__bottom.face 
	.pic-b
		.pic-b__front.face 
		.pic-b__back.face 
		.pic-b__right.face 
			img(
				src="https://rawcdn.githack.com/ricardoolivaalonso/Codepen/eb126050c438282cfc1034dec5fce8327cb09844/room_03/assets/b2.jpeg"
			)
		//- div.pic-b__left.face 
		.pic-b__top.face 
		.pic-b__bottom.face 
	.pic-c
		.pic-c__front.face 
		.pic-c__back.face 
		.pic-c__right.face 
			img(
				src="https://rawcdn.githack.com/ricardoolivaalonso/Codepen/eb126050c438282cfc1034dec5fce8327cb09844/room_03/assets/b3.jpg"
			)
		//- div.pic-c__left.face 
		.pic-c__top.face 
		.pic-c__bottom.face 
	.sofa
		.sofa-a
			.sofa-a__front.face 
			.sofa-a__back.face 
			.sofa-a__right.face 
			.sofa-a__left.face 
			.sofa-a__top.face 
			//- div.sofa-a__bottom.face  
		.sofa-b
			.sofa-b__front.face 
			.sofa-b__back.face 
			.sofa-b__right.face 
			.sofa-b__left.face 
			.sofa-b__top.face 
			//- div.sofa-b__bottom.face  
		.sofa-c
			.sofa-c__front.face 
			.sofa-c__back.face 
			.sofa-c__right.face 
			.sofa-c__left.face 
			.sofa-c__top.face 
			//- div.sofa-c__bottom.face  
		.sofa-d
			.sofa-d__front.face 
			.sofa-d__back.face 
			.sofa-d__right.face 
			.sofa-d__left.face 
			.sofa-d__top.face 
			//- div.sofa-d__bottom.face  
		.sofa-e
			.sofa-e__front.face 
			.sofa-e__back.face 
			.sofa-e__right.face 
			.sofa-e__left.face 
			.sofa-e__top.face 
			//- div.sofa-e__bottom.face  
		.sofa-f
			.sofa-f__front.face 
			.sofa-f__back.face 
			.sofa-f__right.face 
			.sofa-f__left.face 
			.sofa-f__top.face 
			.sofa-f__bottom.face 

	.forniture
		.forniture-1 
			.forniture-1a
				.forniture-1a__front.face 
				.forniture-1a__back.face 
				.forniture-1a__right.face 
				.forniture-1a__left.face 
				.forniture-1a__top.face 
				.forniture-1a__bottom.face 
			.forniture-1b
				.forniture-1b__front.face 
				.forniture-1b__back.face 
				.forniture-1b__right.face 
				.forniture-1b__left.face 
				.forniture-1b__top.face 
				.forniture-1b__bottom.face 
			.forniture-1c
				.forniture-1c__front.face 
				.forniture-1c__back.face 
				.forniture-1c__right.face 
				.forniture-1c__left.face 
				.forniture-1c__top.face 
				.forniture-1c__bottom.face 
			.forniture-1d
				.forniture-1d__front.face 
				.forniture-1d__back.face 
				.forniture-1d__right.face 
				.forniture-1d__left.face 
				.forniture-1d__top.face 
				.forniture-1d__bottom.face 
	#screen.screen
		.screen__front.face 
			img#img(
				src="us.mp4"
			)
			video#video.is-element-hidden(autoplay, mute)
				source(
					src="us.mp4",
					type="video/mp4"
				)
		.screen__back.face 
		.screen__right.face 
		.screen__left.face 
		.screen__top.face 
		.screen__bottom.face 

	.neon-lines
		.neon-line
			.neon-group
				.neon
				.neon
				.neon
				.neon
			.neon-group
				.neon
				.neon
				.neon
				.neon
		.neon-line
			.neon-group
				.neon
				.neon
				.neon
				.neon
			.neon-group
				.neon
				.neon
				.neon
				.neon
		.neon-line
			.neon-group
				.neon
				.neon
			.neon-group
				.neon
				.neon
		.neon-line
			.neon-group
				.neon
				.neon
			.neon-group
				.neon
				.neon
